# Ignore jetbrains idea folder
\.idea/

# Ignore dependencies
packages/

# Ignore debug symbols
*.pdb

# Ignore output
obj/

# Ignore vs settings
.vs/

# Ignore dependency assemblies
0Harmony.dll
HugsLib.dll
